@using BlazingApple.Forums.Components.Votes
@if (Post is not null)
{
	<div class="d-flex">
		<div class="me-2">
			<PostVoteDisplay Post="Post"/>
		</div>
		<div>
			<div class="d-flex flex-column">

				<h2>@Post.Title</h2>
				<div>
					@if(Post.Thread is not null)
					{
						<small class="me-2">
							<a href="@ForumPageRoutes.ThreadDetails(@Post.Thread.Slug)">
								@Post.Thread.Title
							</a>
						</small>
					}

					<small class="text-muted">
						<span>
							Posted by
						</span>
						<a href="#">
							@Post.UserId
						</a>
						<span title="@Post.DatabaseCreationTimestamp.ToLongDateString()"> @Post.ToCreationDate()</span>
					</small>
				</div>
				<div>
					@Post.Content
				</div>
				<div class="d-flex">
					@* horizontal buttons go here *@
				</div>
				<div class="my-3">
					<AuthorPostComment UserId="abc" />
				</div>
				<hr />
			</div>
		</div>
	</div>
}