@using BlazingApple.Components.Reactions
@using BlazingApple.Forums.Components.Posts.Comments
@using BlazingApple.Forums.Components.Shared
@using BlazingApple.Forums.Components.Votes
@using BlazingApple.Forums.Components.Communities
@if (Post is not null)
{
	<div class="row">
		<div class="col-lg-8">
			<div class="d-flex">
				@if (VoteStyle is Votes.VoteStyle.VotesOnly or Votes.VoteStyle.ReactionsAndVotes) 
				{
					<div class="me-2">
						<PostVoteDisplay Post="Post"/>
					</div>
				}
				<div style="width: 100%; overflow: auto;">
					<div class="d-flex flex-column">
						<h2>@Post.Title</h2>
						<div>
							@if(Post.Community is not null)
							{
								<small class="me-2">
									<a href="@ForumPageRoutes.CommunityDetails(@Post.Community.Slug)">
										@Post.Community.Title
									</a>
								</small>
							}

							<small class="text-muted">
								<span>
									Posted by
								</span>
								<a href="#">
									@Post.UserId
								</a>
								<span title="@Post.DatabaseCreationTimestamp.ToLongDateString()"> @Post.ToCreationDate()</span>
							</small>
						</div>
						<div>
							@Post.Content
						</div>
						<div class="d-flex align-items-center">
							@* horizontal buttons go here *@
					
							@if(Post.Community is not null)
							{
								<div class="me-2">
									<ShareButton UrlToShare="@ForumPageRoutes.PostDetails(Post.Community.Slug)"/>
								</div>
								@if (VoteStyle is Votes.VoteStyle.ReactionsOnly or Votes.VoteStyle.ReactionsAndVotes) 
								{
									<div class="me-2">
										<ReactionButton Value="_postReaction?.Type" ValueChanged="ReactionChanged" Reactions="_reactions" />
									</div>
								}
							}
						</div>
						<div class="my-3">
							<AuthorPostComment UserId="abc" PostId="@Post.Id" CommentSubmitted="AfterCommentSubmitted" />
						</div>
						<hr />
						<div>
							<PostCommentList Comments="@Post.Comments"/>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-4">
			<div class="sticky-top">
				@if(Post.Community is not null) {
					<AboutCommunity Community="@Post.Community"/>
				}
			</div>
		</div>
	</div>
}