@using BlazingApple.Forums.Components.Shared
@using BlazingApple.Forums.Components.Votes
@if (Post is not null) {
	<Card Title="@Post.Title" TitleUrl="@(ForumPageRoutes.PostDetails(Post.Slug))">
		<div class="d-flex">
			<div class="me-4">
				<PostVoteDisplay Post="Post"></PostVoteDisplay>
			</div>
			<div class="d-flex flex-column" style="justify-content:space-between;">
				<TextLimitedSegment Content="@Post.Content"/>
				<small class="d-flex">
					<BrowserLink href="@(ForumPageRoutes.PostDetails(Post.Slug))" className="me-2">
						<i class="fas fa-comments"></i> @Random.Shared.Next(100) Comments
					</BrowserLink>
					<ShareButton UrlToShare="@(ForumPageRoutes.PostDetails(Post.Slug))"/>
				</small>
			</div>
		</div>
	</Card>
}